body {
    margin: 0;
    background-color: #f1f1f1;
    line-height: 1;
    font-family: 'Raleway', sans-serif;
}

h3 {
    font-weight: lighter;
}

/*----------- HEADER -----------*/
header {
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
}

h1 {
    font-size: 35px;
}

header span {
    background-color: #000;
    color: #FFF;
}


main {
    display: flex;
    padding: 20px;

}


section {
    width: 850px;

}

.blog-card {
    background-color: #FFF;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 30px;
    padding-bottom: 5px;
}

section img {
    width: 100%;
}

.text {
    padding: 15px;
    line-height: 1.5;
}

.date {
    opacity: 0.60;
}

.blog-footer {
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.blog-footer button {
    padding: 12px 24px;
    background-color: #FFF;
    border: 1px solid #ccc;
}

.blog-footer button:hover {
    background-color: #ccc;
}

.number {
    background-color: #000;
    color: #FFF;
    padding: 0 8px;
    margin-left: 5px;
}

.number-round {
    background-color: #000;
    color: #FFF;
    padding: 0 8px;
    border-radius: 50%;
    margin-left: 5px;
}

aside {
    margin-left: 40px;
    width: 450px;
}

aside>div {
    background-color: #FFF;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile img {
    width: 100%;
}

.profile {
    font-size: 15px;
}

.title-box {
    background-color: #f1f1f1;
    padding: 8px 16px;
    margin-top: 40px;
}

.title-card {
    font-weight: lighter;
}

.item {
    padding: 0 16px;
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.item:hover {
    background-color: #ccc;
}

.item-text {
    line-height: 0.4;
    margin-left: 10px;
}




.item-img {
    width: 50px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.item-img img {
    width: 100%;
}

.tags-list {
    padding: 10px;
    padding-bottom: 20px;

}

.tags-list span {
    background-color: #f1f1f1;
    padding: 2px 8px;
    margin-left: 5px;
    line-height: 2.5;
    font-size: 12px;
}

.tags-list span:hover {
    background-color: #000;
    color: #FFF;
    padding: 4px 10px;
    margin-left: 5px;
    line-height: 2.5;
    font-size: 12px;
}

footer {
    background-color: #616161;
    padding: 32px 15px;

}

.button-next {
    padding: 12px 24px;
    background-color: #000;
    color: #FFF;
    border: none;
    font-size: 15px;
    margin-bottom: 30px;
}

.button-next:hover {
    background-color: #bbbbbb;
    color: #616161;
}

.button-prev {
    padding: 12px 24px;
    background-color: #000;
    color: #FFF;
    border: none;
    opacity: 0.3;
    cursor: not-allowed;
    font-size: 15px;
    margin-bottom: 30px;
}

footer p {
    color: #FFF;
}

/*---------- MEDIA JQUERY -----------*/
@media (max-width: 992px) {
    main {
        flex-direction: column;
        align-items: center;

    }
}

@media (max-width: 992px) {
    section {
        width: 98%;
        margin: 0;
    }
}

@media (max-width: 992px) {
    aside {
        width: 98%;
        margin: 0;
    }
}